<ion-header>
  <ion-toolbar>
    <ion-title>
      LOGIN AS TRAINER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>

  <ion-card href="tabs/tab8" class="record"> 
    <ion-button expand="block">View Your Athete's Record</ion-button>
  </ion-card>

  <div style="text-align: center; margin:auto;">
    <!-- <ion-card href="tabs/tab5" class="login">  -->
          <ion-button click="logOut()">LOG OUT</ion-button>
      </ion-card>
    </div>


</ion-content>
